<!DOCTYPE html>
<html lang="en">

{% block styles %}


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BrainSong</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static',filename='css/freelancer.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- CSS Personnel -->
     <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
     <link href="{{ url_for('static',filename='sweetalert-master/dist/sweetalert.css') }}" rel="stylesheet">
     <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/images/icone.png') }}" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
{% endblock %}
<body id="page-top" class="index">
{% block navbar %}

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="{{ url_for('static', filename='img/images/icone.png') }}">
                <a class="navbar-brand" href="{{ url_for('home') }}">BrainSong</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ url_for('home') }}">Accueil</a>
                    </li>
                    <li>
                        <a href="{{ url_for('recherche') }}">Graphiques</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li>
                            <a href="{{ url_for('mesEnregistrements') }}">Mes enregistrements</a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}">Deconnexion</a>
                        </li>
                    {% else %}
                        <li>
                            <a id="connectionLien" href="#section">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
{% endblock %}
{% block content %}

        <section id="main">
        <div class="contenu">
            <!-- Popup de connexion -->
            <aside id="section">
                <div id="sectionContent" class="col-sm-8 col-xs-12 col-lg-4 col-sm-offset-2  col-lg-offset-4">
                    <a class="glyphicon glyphicon-remove" href="#contenu"></a>
                    <h2 class="text-center">Connexion</h2>
                    {% set path = request.path[1:-1] %}
                    {% if path=="" %}
                        {% set path = 'root' %}
                    {% endif %}
                    <form class="form-horizontal" method="POST" action="{{ url_for('connect', code=path) }}">
                        {{ connect.hidden_tag() }}
                        <div class="form-group">
                            <div>
                               {{ connect.username.label(class_="text-left control-label") }}
                                <div>
                                    {{ connect.username(required=connect.username.flags.required, class_="form-control") }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                               {{connect.password.label(class_="text-left control-label") }}
                                <div>
                                    {{ connect.password(required=connect.password.flags.required, class_="form-control") }}
                                </div>
                            </div>
                        </div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for categorie, m in messages %}
                                    {% if categorie=="erreurConnexion" %}
                                        <div class="form-group alert alert-danger">{{ m }}</div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <div class="form-group">
                            <div>
                                <div>
                                    <input id="submit" name="submit" type="submit" value="Envoyer" class="col-sm-12 btn btn-primary">
                                </div>
                            </div>
                        </div>
                        <p>Pas de compte ? <a href="{{ url_for('signin', code=path) }}">Inscris toi</a> !</p>
                    </form>
                </div>
            </aside>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for categorie, m in messages %}
                        {% if categorie=="connectOk" %}
                            <div class="form-group alert alert-success">{{ m }}</div>
                        {% endif %}
                    {% endfor %}
                 {% endif %}
            {% endwith %}
            {%block main %}
            {% endblock %}
        </div>
    </section>
{% endblock %}
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        &copy; 2015 BrainSong <a href="{{ url_for('contact') }}">Contact</a> <a href="{{ url_for('mentions') }}">Mentions Légales</a>
                        <a href="{{ url_for('manuel') }}">Manuel d'utilisateur</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

        <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename='js/classie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cbpAnimatedHeader.js') }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contact_me.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/freelancer.js') }}"></script>
</body>