     {% if message=="" %}
                        <form class="form-horizontal" role="form" method="POST" action="{{ url_for('check') }}">
                        {{ connect.hidden_tag() }}
                        <div class="form-group">
                            <div>
                                <label for="pseudo" class="text-left control-label">{{ connect.username.label }}</label>
                                <div>
                                    {{ connect.username(required=connect.username.flags.required, class_="form-control") }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="password" class="text-left control-label">{{connect.password.label}}</label>
                                <div>
                                    {{ connect.password(required=connect.password.flags.required, class_="form-control") }}
                                </div>
                            </div>
                        </div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for categorie, m in messages %}
                                    {% if categorie=="erreurConnexion" %}
                                        <div class="form-group alert alert-danger">{{ m }}</div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        
                        <div class="form-group">
                            <div>
                                <div>
                                    <input id="submit" name="submit" type="submit" value="Envoyer" class="col-sm-12 btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </form>
    {% else %}
        {{ message }}
    {% endif %}