{% extends "base.html" %}
{% block main %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/compare.js') }}"></script>
<div id="simple" class="row text-center">
	{% for enr in listeEnr %}
		<div class="col-lg-6 col-md-6 col-sm-12 text-center graphique">
	    	<div id="container{{enr.id}}"></div>
	    	{% if listeEnr|length !=1 %}
	    	<button class="btn btn-primary btn-comparer">Ajouter à la comparaison</button>
	    	{% endif %}
		</div>
	    <script type="text/javascript">
	        $(document).ready(graph({{enr.id}},'{{enr.name}}'));
	    </script>
	{% endfor %}
</div>

<div class="col-md-12 text-center">
	{% if listeEnr|length !=1 %} 
	<button class="btn btn-primary btn-allComparaison">Comparer</button>
	{% endif %}
</div>

<div id="multi" class="row">
	<div id="container" class="floatNone col-lg-6 col-md-6 col-sm-12"></div>
	<h3 id="multih3" class="text-center" style="display:none;">Aucun enregistrement séléctionné</h3>
</div>
<script type="text/javascript">
	listeSelection=[];
	listeNomsSelection=[];
	listenom = {{ listename|tojson}};
	listenumero = {{ listeid|tojson}};
    $('.btn-comparer').on('click',function() {
    		if(this.firstChild.data=="Ajouter à la comparaison"){
    			this.removeChild(this.firstChild);
    			var t = document.createTextNode("Supprimer de la comparaison");
				this.appendChild(t);
				var idSelectionner=this.previousSibling.previousSibling.id.slice(9);
           		listeSelection.push(parseInt(idSelectionner));
           		listeNomsSelection.push(listenom[listenumero.indexOf(idSelectionner)])
    		}
    		else{
    			this.removeChild(this.firstChild);
    			var t = document.createTextNode("Ajouter à la comparaison");
				this.appendChild(t);
				var idSelectionner=this.previousSibling.previousSibling.id.slice(9);
				var i = listeSelection.indexOf(parseInt(idSelectionner));
				if(i != -1) {
					listeSelection.splice(i, 1);
					listeNomsSelection.splice(i, 1);
				} 
    		}
          });

    $('.btn-allComparaison').on('click',function() {
    	console.log(listeSelection);
    	if(listeSelection.length==0){
    		$("#container").hide();
    		$("#multih3").show();
    	}
    	else{
    		compareGraph(listeSelection,listeNomsSelection);
    		$("#container").show();
    		$("#multih3").hide();
    	}
    });

</script>
{% endblock %}