{% extends "base.html" %}
{% block main %}
            <div class="text-center row">
                <div class="home-left col-lg-7 col-sm-12">
                    <h3>Qu'est-ce que BrainSong ?</h3>
                    <p>BrainSong est une application mobile permettant la visualisation et la création de musique à partir d'un casque d'électroencéphalographie (EEG)</p>
                    
                    <img src="{{ url_for('static', filename='img/images/modele.jpg') }}" alt="personne utilisatrice">
                    <p>Exemple d'utilisation du casque EEG</p>
                </div>

                <div class="home-right col-lg-5 col-sm-12">
                    <h2>BrainSong</h2>
                    <h3>L'application officielle</h3>

                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <img class="telephone" src="{{ url_for('static', filename='img/images/smartphone-horizontale.png') }}" alt="smartphone">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img class=" img-responsive first-slide" src="{{ url_for('static', filename='img/images/param.jpg') }}" alt="screen application 1">
                        </div>
                        <div class="item">
                            <img class="img-responsive second-slide" src="{{ url_for('static', filename='img/images/menugauche.jpg') }}" alt="screen application 2">
                        </div>
                        <div class="item">
                            <img class="img-responsive third-slide" src="{{ url_for('static', filename='img/images/graph.jpg') }}" alt="screen application 3">
                        </div>
                        <a class="caroufleche left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        </a>
                        <a class="caroufleche right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        </a>
                    </div>
                </div>

                <a class="playStore" href=""><img alt="Get it on Google Play" src="{{ url_for('static', filename='img/images/google-play-badge.png') }}" /></a>
                <div class="qrCode text-center">
                    <img src="{{ url_for('static', filename='img/images/qrCode.png') }}" alt="qrCode application">
                    <p>Scannez moi !</p>
                </div>
                </div>
                <div class="element">
                    <div class="text-center col-sm-12 col-xs-12 col-lg-12">
                        <h3>Caractéristiques :</h3>
                        <div class="text-center col-sm-6 col-xs-12 col-lg-4">
                            <img class="floatNone col-sm-6 col-xs-12 col-lg-6" src="{{ url_for('static', filename='img/images/bluetooth.png') }}" alt="emetteur bluetooth">
                            <div class="floatNone mAuto col-sm-10 col-xs-12 col-lg-10">
                                <p>Emetteur Bluetooth pour se connecter avec un smartphone</p>
                            </div>
                        </div>
                       
                        <div class="text-center col-sm-6 col-xs-12 col-lg-4">
                            <img class="floatNone col-sm-6 col-xs-12 col-lg-6" src="{{ url_for('static', filename='img/images/oreille2.png') }}" alt="capteur de pouls">
                            <div class="floatNone mAuto col-sm-10 col-xs-12 col-lg-10">
                                <p>Un clip d'oreille pour mesurer le pouls</p>
                            </div>
                        </div>
                    <div class="text-center col-sm-6 col-xs-12 col-lg-4">
                        <img class="floatNone col-sm-6 col-xs-12 col-lg-6" src="{{ url_for('static', filename='img/images/emetteur.png') }}" alt="capteurs eeg">
                        <div class="floatNone mAuto col-sm-10 col-xs-12 col-lg-10">
                            <p>Deux capteurs EEG sur un bandeau à placer sur le front</p>
                        </div>
                    </div>
                    </div>
                   
                </div>
            </div>
{% endblock %}
<script type="text/javascript">
$(document).ready(function(){
$('#myCarousel').carousel();
});
</script>