{% extends "base.html" %}
{% block main %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="{{ url_for('static',filename='sweetalert-master/dist/sweetalert.min.js') }}"></script>
	<script src="{{url_for('static',filename='js/audioplayer.js')}}"></script>
	<link rel="stylesheet" href="{{url_for('static',filename='css/audioplayer.css')}}" />
	<script src='http://www.midijs.net/lib/midi.js'></script>
	<h2>Mes enregistrements :</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
	    {% if messages %}
	        {% for categorie, m in messages %}
	            {% if categorie=="uploadOk" %}
	                <div class="form-group alert alert-success">{{ m }}</div>
	             {% else %}
	             	<div class="form-group alert alert-danger">{{ m }}</div>
	            {% endif %}
	        {% endfor %}
	     {% endif %}
	{% endwith %}
	<h3>Graphiques</h3>
	<table class="table table-striped table-bordered">
		<tr class="text-center">
			<th>Date</th>
			<th>Nom</th>
			<th>Options</th>
		</tr>
		{% for graphique in graphiques %}
			<tr>
				<td> {{ graphique.date | timeStampToDate }} </td>
				<td id="nomEnregistrement"><a href="{{url_for('graphique',id=graphique.id)}}">{{ graphique.name }}</a></td>
				<td id="graphique-{{graphique.id}}">
					<script>
						graphique = {{ graphique.to_json()|tojson}};
					    function supprimer(event){
							swal({
								title: "Voulez-vous supprimer l'enregistrement ?",
								text: "Cette action supprimera définitivement les données",
								type: "warning",
								showCancelButton: true,
								confirmButtonColor: "#DD6B55",
								confirmButtonText: "Oui, supprimer !",
								cancelButtonText: "Annuler",
								closeOnConfirm: false
							},
							function(){
								var donnees = { 
									id: event.data
								};
					    		$.ajax({
									url: "/api/deleteEnregistrement",
									type: "POST",
									dataType: "json",
									contentType: "application/json",
									data: JSON.stringify(donnees),
									success: function(datas){
										$("#graphique-"+datas["id"]).parent().hide();
										swal("Supprimé !", "L'enregistrement à bien était supprimé", "success");
									}
								});
							});
						}

						function editer(event){
							$("#listeTag").empty();
							var	inputPubli = $("#visiPubli");
							var	inputPriv= $("#visiPriv");
							data=event.data;
							$("#edition").show();
							$("#background").show();
							$("#nomModificationEnregistrement").val(data["name"]);
							if(data["visibility"]==1){
								inputPriv.prop( 'checked', false );
								inputPubli.prop( 'checked', true );
							}
							else{
								inputPubli.prop( 'checked', false );
								inputPriv.prop( 'checked', true );
							}
							for (var tag of data["tags"]) {
								var divTag= document.createElement("div");
								divTag.id="tag-"+tag.replace(/\s+/g, '-').toLowerCase();
								divTag.appendChild(document.createTextNode(tag));
								var variable=$("<i class='glyphicon glyphicon-remove' data-name='"+tag+"' data-id='"+data["id"]+"'></i>");
								var imageSuppr= variable.get(0);
								imageSuppr.onclick=function(data){
									console.log(data.target.dataset.name);
									var donnees = { 
										id: data.target.dataset.id,
										valueTag: data.target.dataset.name
									};
									console.log(donnees);
									$.ajax({
										url: "/api/deleteTag",
										type: "POST",
										dataType: "json",
										contentType: "application/json",
										data: JSON.stringify(donnees),
										success: function(datas){
											$("#tag-"+data.target.dataset.name.replace(/\s+/g, '-').toLowerCase()).hide();
										}
									});
								}

								divTag.appendChild(imageSuppr);
								$("#listeTag").append(divTag);
							}
				    		console.log("fff");
						}

						function upload(event){
							data=event.data;
							$("#identifiant").val(data.id);
							$("#upload").show();
							$("#background").show();
						}

						$("#graphique-{{graphique.id}}")
						.append($("<img class='pointeur'id='delete' src='{{ url_for('static', filename='img/images/deleteMin.png') }}' alt=''>")
						.on("click", {{graphique.id}}, supprimer))

						$("#graphique-{{graphique.id}}")
						.append($("<img class='pointeur' id='modifier' src='{{ url_for('static', filename='img/images/editMin.png') }}' alt=''>")
						.on("click", graphique, editer))

						$("#graphique-{{graphique.id}}")
						.append($("<i class='pointeur fa fa-music fa-lg'></i>")
						.on("click", graphique, upload))

						
					</script>
				 </td>
			</tr>
		{% endfor %}
	</table>

	<div id="background"></div>
	<div id="edition" class="edition" style="display:none;">
		<a class="glyphicon glyphicon-remove" onclick="cacheEdition()"></a>
		<h3>Edition</h3>
		<div>
			<label>Nom de l'enregistrement : </label><input class="form-control" id="nomModificationEnregistrement" type="text" maxlength="200">
		</div>
		<label>Visibilité :</label> 
		<div>
			Public <input id="visiPubli" type="radio" name="optradio">
			Privée <input id="visiPriv" type="radio" name="optradio">
		</div>
		<div>
			<label>Tags associés :</label>
			<div id="listeTag">
			</div>
			<label>Envie d'ajouter un autre tag ?</label>
			<div id="addtag">
				<input class="col-sm-8 test" id="input-addTag" type="text" placeholder="Un nom de tag"  maxlength="20" required>
				<button class="col-sm-3 col-sm-offset-1 btn btn-primary btn-addTag" onclick="addTag(this)">Ajouter</button>
			</div>

		</div>
		<div class="center-block">
			<button class="btn btn-primary btn-mettreAjour" onclick="mettreAJour(this);">Mettre à jour</button>
		</div>
	</div>

	<div id="upload" class="edition" style="display:none;">
		<a class="glyphicon glyphicon-remove" onclick="cacheUpload()"></a>
		<h3>Créer une musique</h3>
		<form method="POST"  enctype="multipart/form-data" action="{{url_for('addMusique')}}">
		<div id="choixCrea">
			{% for subfield in musiqueForm.typeMusique %}
				{{ subfield }}
				{{ subfield.label }}
			{% endfor %}
		</div>
		<div id="choixMusique" style="display:none;">
			<p>Donnez nous une musique au format wav</p>
			<div>
				{{ musiqueForm.fichier(class_="file-custom") }}
				{{ musiqueForm.id(accept=".wav") }}
			</div>
		</div>
			<div class="center-block">
				<input class="btn btn-primary btn-mettreAjour" type="submit">
			</div>
		</form>
	</div>
	<h3>Sons</h3>
	<div>
		<table class="table table-striped table-bordered">
		<tr class="text-center">
			<th>Nom</th>
			<th>Musique modifiée</th>
			<th>Musique générée</th>
		</tr>
		{% for son in listeSon %}
			<tr>
				<td>{{ son.name }}</td>
				<td>
					{% if son.lienMusiqueModif!=None %}
						<audio src="{{url_for('static',filename='musique/modification'~son.id~'.wav')}}" preload="none" controls></audio>

						<a href="{{url_for('static',filename='musique/modification'~son.id~'.wav')}}" download="{{modification~id}}"><i class="pull-right fa fa-download fa-2x"></i></a>
					{% else %}
						Vous n'avez pas modifié votre musique
					{% endif %}
				</td>
				<td>
					{% if son.lienMusiqueGen!=None %}
					
						<script>
						function pause(id){
							console.log(this);
							$("#play"+id).hide(duration=100);
							$("#pause"+id).show(duration=100);
						}
						function play(id){
							$("#play"+id).show(duration=100);
							$("#pause"+id).hide(duration=100);
						}
						</script>
						<i id="play{{son.id}}" onClick="MIDIjs.play('{{url_for('static',filename='musique/creation'~son.id~'02.mid')}}');pause({{son.id}});"class="fa fa-play fa-2x pointeur"></i>
						<i id="pause{{son.id}}" onClick="MIDIjs.stop();play({{son.id}});" class="fa fa-stop fa-2x pointeur" style="display:none;"></i>

						<a href="{{url_for('static',filename='musique/creation'~son.id~'02.mid')}}" download="{{modification~id}}"><i class="pull-right fa fa-download fa-2x"></i></a>
					{% else %}
						Vous n'avez pas généré votre musique
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</table>
	</div>
	<script>
		$("#typeMusique-1")[0].onclick=function(event){$("#choixMusique").show()}
		$("#typeMusique-0")[0].onclick=function(event){$("#choixMusique").hide()}
		function addTag(param){
			var divTag= document.createElement("div");
			var valueInput=$("#input-addTag").val();
			if(valueInput!=""){
				divTag.appendChild(document.createTextNode(valueInput));
				divTag.id="tag-"+valueInput.replace(/\s+/g, '-').toLowerCase();
				var variable=$("<i class='glyphicon glyphicon-remove' data-name='"+valueInput+"' data-id='"+data["id"]+"'></i>");
				var imageSuppr= variable.get(0);
				imageSuppr.onclick=function(data){
					console.log(data.target.dataset.name);
					var donnees = { 
						id: data.target.dataset.id,
						valueTag: data.target.dataset.name
					};
					console.log(donnees);
					$.ajax({
						url: "/api/deleteTag",
						type: "POST",
						dataType: "json",
						contentType: "application/json",
						data: JSON.stringify(donnees),
						success: function(datas){
							$("#tag-"+data.target.dataset.name.replace(/\s+/g, '-').toLowerCase()).hide();
						}
					});
				}
				divTag.appendChild(imageSuppr);
				$("#listeTag").append(divTag);
				data["tags"].push(valueInput);
				$("#input-addTag").val('');
			}
		}

		function mettreAJour(){
			var donnees = { 
							id: data["id"],
							name: $("#nomModificationEnregistrement").val(),
							visibility: $("#visiPriv").prop("checked") ? 2 : 1,
							tags: data["tags"]
						};
			$.ajax({
				url: "/api/modifEnregistrement",
				type: "POST",
				dataType: "json",
				contentType: "application/json",
				data: JSON.stringify(donnees),
				success: function(datas){
					$("#graphique-"+datas["id"]).parent().children()[1].firstChild.data=datas["name"];
					$("#edition").hide();
					$("#background").hide();
					graphique=datas;
				}
			});
		}

		fileInput = document.querySelector('#inputFile');
	    fileInput.addEventListener('change', function() {
	    	reader = new FileReader();
	        reader.readAsText(fileInput.files[0]);
	    });

		function cacheEdition(){
			$("#edition").hide();
			$("#background").hide();
		}

		function cacheUpload(){
			$("#upload").hide();
			$("#background").hide();
		}
	</script>
<!-- 	<div class="sweet-overlay">
		<div class="sweet-alert showSweetAlert visible">

		</div>
	</div> -->
	<script>$( 'audio' ).audioPlayer();</script>
{% endblock %}


