<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Documentation utilisateur BrainSong</title>
<link rel="alternate" type="application/rss+xml" title="frittt.com" href="feed/index.html">
<link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet"
        type="text/css">
<link rel="stylesheet" href="{{ url_for('static',filename='css/styleMention.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/prettify.css') }}">
</head>
<body>
<div class="wrapper">
<nav>
 
    <div class="pull-left">
      <h1><a href="javascript:"><img src="{{ url_for('static', filename='img/ressource/icon.png') }}" alt="BrainSong" /> <span>BrainSong</span></a></h1>
    </div>
    
   

</nav>
<header>
  <div class="container">
    <h2 class="lone-header">Documentation utilisateur BrainSong - Site Internet</h2>
  </div>
</header>
<section>
  <div class="container">
    <ul class="docs-nav">
      <li><strong id="liste1" class="clickable">BrainSong</strong></li>
      <div id=part1>
      <li><a href="#braisong" class="cc-active">Introduction</a></li>
      <li><a href="#Prerequis" class="cc-active">Prérequis</a></li>
      <li><a href="#Possibilité" class="cc-active">Possibilités</a></li>
      <li><a href="#license" class="cc-active">License</a></li>
      <li class="separator"></li>
      </div>

      <li ><strong id="liste2" class="clickable">License</strong></li>
      <div id=part2>
        <li class="elem2"><a href="#license" class="cc-active">License publique</a></li>
        <li class="separator"></li>
      </div>

      <li><strong  id="liste3"class="clickable">Mode anonyme</strong></li>
      <div id=part3>
      <li><a href="#recommandation" class="cc-active">Recommandations</a></li>
      <li><a href="#graphiques" class="cc-active">Graphiques</a></li>
      <li class="separator"></li>
      </div>
      <li><strong id="liste4" class="clickable">Mode connecté</strong></li>
      <div id=part4>
      <li><a href="#connexion" class="cc-active">Connexion</a></li>
      <li><a href="#enregistrements" class="cc-active">Enregistrements</a></li>
      <li class="separator"></li>
      </div>

      
    </ul>
    <div class="docs-content">
      <h2><strong id="braisong"> BrainSong </strong></h2>
      <p> Qu'est ce que BrainSong ?</p>
      
      <p> BrainSong est une application mobile interragissant avec un serveur et permettant la connexion avec un casque générant des électroencéphalogrammes. <br>
        L'application Android permet de tracer des graphiques représentatifs de l'évolution de certains taux tel que celui de la méditation ou de l'attention. Elle permet également de réaliser des enregistrements de données dans le but de les envoyer au serveur distant BrainSong.</p>
        <p> Le serveur distant se charge de récupérer les enregistrements, les afficher et permet à un utilisateur de comparer facilement des graphiques des données envoyées par le casque. Il est également en charge d'une partie plus "artistique" du projet : la génération et la modification de musiques avec les données cérébrales.</p>
      
      <h3 id="Prerequis"> Prérequis</h3>
      <p> Afin d'exploiter à son meilleur potentiel les possibilités de l'application Android, il est nécessaire de posséder :</p>
      <ul>
        <li> un smartphone android (4.2 ou supérieur)</li>
        <li> un casque EEG BrainBand XL</li>

      </ul>
      <p> Avant de pouvoir naviguer sur notre site <a href="http://brainsong.bitoaster.com" target="_blank">BrainSong</a>, il est impératif que le langage JavaScript soit  activé.  Cette  option  est  activée  par  défaut  dans  votre  navigateur 
        Internet.
      <h3 id="Possibilité"> Possibilités</h3>
      <p> Possibilités de l'application Android BrainSong :</p>
      <ul>
        <li>Connection à un compte BrainSong</li>
        <li>Visualisation de données en temps réel via le casque EEG</li>
        <li>Envoie des enregistrements sur la plateforme web distante</li>
      </ul>

      <p> Possibilités du serveur distant BrainSong :</p>
      <ul>
        <li>Création et gestion du compte BrainSong</li>
        <li>Comparaison de graphes</li>
        <li>Gestion des enregistrements</li>
        <li>Génération de musique / Modification de musique</li>
      </ul>
      <h3 id="savoir"> Ce qu'il faut savoir </h3>
      <p>
        Le casque EEG emet des relevés de données à des intervalles de temps réguliers. Ces données, une fois traitées, permettent de génerer des taux d'attention et de méditation.<br>
        Le taux de méditation représente un taux de ressemblance entre l'état actuel du cerveau et celui d'un cerveau en phase méditative. De manière plus concrète, ce taux reflète la tranquilité et la décontraction du porteur de casque. <br>
        Le taux d'attention est identique au taux de méditation à la difference qu'il compare les données envoyées par le casque à un cerveau attentif. <br>
      </p>

      <hr>
      
      <h2 id="license"><strong>License</strong></h2>
      <p> Les projet est distribué sous license libre GPLv3.</p>

      <hr>
      <h2><strong> Mode anonyme </strong></h2>
      <h3 id="recommandation">Recommandations</h3>
      <p> Afin d'utiliser toutes les fonctionnalités disponibles sur le site internet, il est préférable que vous possédiez un compte BrainSong. Si vous désirez créer un compte, rendez-vous sur la page d'inscription du site <a href="http://brainsong.bitoaster.com/signin/" target="_blank">http://brainsong.bitoaster.com/signin/</a>.</p>
      <!-- <p> Lors de la première connection à l'application, vous aurez le choix de vous connecter directement ou de passer cette étape avec le bouton "Ignorer" si vous n'êtes pas connecté à Internet ou que vous préférez utiliser l'application en tant qu'utilisateur local. </p>
      <img class="screen" src="{{ url_for('static', filename='img/ressource/connection1.png') }}" alt="Connection BrainSong"/><br>
      <p> Si vous avez choisi de ne pas vous connecter, vous pourrez toujours utiliser l'application pour consulter les courbes des ondes cérébrales en temps réél ainsi que réaliser des enregistrements de ces courbes.</p> -->
      <h3 id="graphiques">Graphiques</h3>
      <p>Il est possible de consulter les différents enregistrements postés par nos utilisateurs grâce à la page "GRAPHIQUES". L'ensemble des enregistrements que vous pourrez consulter sont des enregistrements dits publics. Par défault ces derniers sont enregistrés comme privés.</p>
      
      <p>Une recherche de base est effectuée seulement sur le titre d'un enregistrement. En activant l'option d'affinnage, il est possible de rechercher un enregistrement par:
      </p>
      <ul>
        <li>Nom d'enregistrement
          <ul>
            <li>Sans date spécifiée</li>
            <li>Avant une date spécifiée</li>
            <li>Exactement à la date spécifiée</li>
            <li>Après une date spécifiée</li>
          </ul>
        </li>
        <li>Tag d'enregistrement
          <ul>
            <li>Sans date spécifiée</li>
            <li>Avant une date spécifiée</li>
            <li>Exactement à la date spécifiée</li>
            <li>Après une date spécifiée</li>
          </ul>
        </li>

      </ul>
      <figure>
        <img class="screend" src="{{ url_for('static', filename='img/ressource/recherche.png') }}" alt="Recherche enregistrement"/>
      </figure>

      <p>Vous aurez ensuite la possibilité de choisir parmis les résultats correspondants afin de les comparer.</p>
      <img class="screend" src="{{ url_for('static', filename='img/ressource/comparaisonGraphe.png') }}" alt="Recherche enregistrement"/>

      <p>Vous serez ensuite redirigé vers une nouvelle page qui affichera les graphiques des données séléctionnées. </p>
      <img class="screend" src="{{ url_for('static', filename='img/ressource/graphe.png') }}" alt="Graphique enregistrement"/>
      <p></p>
      <h4>Comparaison</h4>
      <p>
        Une fois ces graphiques affichés, vous pourrez naviguer sur les différentes courbes pour connaître la valeur d'une courbe à la valeur temps que vous souhaitez. Vous pourrez également zoomer en sélectionnant une zone du graphique ou encore télécharger le graphique sous différents formats.</p>
       <p> 
        Dans le cas où vous avez plusieurs graphiques affichés, vous aurez la possibilité de les comparer en les ajoutant à l'outil de comparaison à l'aide du bouton "Ajouter à la comparaison". De plus, pour visualiser la comparaison des deux graphiques, il vous suffit d'appuyer sur le bouton "Comparer", ce qui vous fournira un graphique identique à celui ci-après.
      </p>
      <img class="screend" src="{{ url_for('static', filename='img/ressource/comp.png') }}" alt="Graphique enregistrement"/>
      <p>
        Sur ce graphique, vous aurez la possibilité de cacher les courbes en cliquant sur le nom de la courbe dans la légende.
      </p>
      <hr>
      <h2><strong> Mode connecté </strong></h2>
      <h3 id="connexion">Connexion</h3>
      <p>
        Une fonctionnalité de connexion est également disponible en cliquant sur le bouton "Connexion". 
      </p>
      <img class="screend" src="{{ url_for('static', filename='img/ressource/connexion.png') }}" alt="Interface de connexion"/>
      <p>Si vous n'avez pas encore de compte utilisateur, vous pouvez vous inscrire en cliquant sur le lien "Incris toi"</p>
      <h3 id="enregistrements">Enregistrements</h3>
      <p>
        En étant connecté sur votre compte utilisateur vous pouvez consulter les enregistrements vous avez envoyé sur le site avec l'application Android. Pour accéder à ces enregistrements, cliquez sur "Mes enregistrements" et l'interface suivante s'affichera :
      </p>
      <img class="screend" src="{{ url_for('static', filename='img/ressource/enregistrements.jpg') }}" alt="Liste des enregistrements"/>
      <p>
        Vous pourrez consulter vos enregistrements en fonction de leur date et de leur nom. Plusieurs options s'offriront alors à vous : cliquez sur le nom de l'enregistrement pour afficher les graphiques ou supprimer l'enregistrement. De plus, vous pouvez l'éditer en cliquant sur l'icône du "crayon", ce qui aura pour effet d'afficher l'écran suivant : 
      </p>
      <img class="screend" src="{{ url_for('static', filename='img/ressource/edition.jpg') }}" alt="Liste des enregistrements"/>
      <p>
        Dans cet écran d'édition, vous pourrez changer le nom de l'enregistrement, la visibilté de celui-ci (privé : visible seulement par vous, public : visible par tout le monde) et également ajouter ou supprimer les tags de cet enregistrement (les tags servant lors de la recherche des enregistrements).
      </p>
  </div>
</section>
<section class="vibrant centered">
  <div class="">
    <h4> Cette documentation est fournie par l'équipe web du projet <a href="http://brainsong.bitoaster.com" target="_blank">BrainSong</a>.<br> Si vous rencontrez des problèmes avec le site internet, n'hésitez pas à nous en parler via le formulaire de contact du site. </h4>
  </div>
</section>
<footer>
  <div class="">
    <p> &copy; Copyright Frittt Templates. All Rights Reserved.</p>
  </div>
</footer>
</div>
<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script> 
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst"></script>
<script src="{{ url_for('static',filename='js/prettify.js') }}"></script> 
<script src="{{ url_for('static',filename='js/layout.js') }}"></script>
<script src="{{ url_for('static',filename='js/cacherSousMenu.js') }}"></script>
</body>
</html>
